@using Northwind.Application.Features.ProductsFeature.Products.Queries.GetProductById
@model GetProductByIdDto

<h2>Edit Product</h2>

<form asp-action="Edit" method="post" class="needs-validation" novalidate>
    <input type="hidden" asp-for="ProductId" />

    <div class="form-group">
        <label asp-for="ProductName" class="control-label">Product Name</label>
        <input asp-for="ProductName" class="form-control" value="@Model.ProductName" />
        <span asp-validation-for="ProductName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CategoryName" class="control-label">Category</label>
        <input type="text" class="form-control" readonly value="@Model.CategoryName" />
        <input type="hidden" asp-for="CategoryId" value="@Model.CategoryId" />
    </div>

    <div class="form-group">
        <label asp-for="SupplierName" class="control-label">Supplier</label>
        <input type="text" class="form-control" readonly value="@Model.SupplierName" />
        <input type="hidden" asp-for="SupplierId" value="@Model.SupplierId" />
    </div>

    <div class="form-group">
        <label asp-for="UnitPrice" class="control-label">Unit Price</label>
        <input asp-for="UnitPrice" class="form-control" value="@Model.UnitPrice" />
        <span asp-validation-for="UnitPrice" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="QuantityPerUnit" class="control-label">Quantity Per Unit</label>
        <input asp-for="QuantityPerUnit" class="form-control" value="@Model.QuantityPerUnit" />
        <span asp-validation-for="QuantityPerUnit" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="UnitsInStock" class="control-label">Units In Stock</label>
        <input asp-for="UnitsInStock" class="form-control" value="@Model.UnitsInStock" />
        <span asp-validation-for="UnitsInStock" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="UnitsOnOrder" class="control-label">Units On Order</label>
        <input asp-for="UnitsOnOrder" class="form-control" value="@Model.UnitsOnOrder" />
        <span asp-validation-for="UnitsOnOrder" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ReorderLevel" class="control-label">Reorder Level</label>
        <input asp-for="ReorderLevel" class="form-control" value="@Model.ReorderLevel" />
        <span asp-validation-for="ReorderLevel" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Discontinued" class="control-label"></label>
        <input asp-for="Discontinued" class="form-control" checked="@Model.Discontinued"/>
        <span asp-validation-for="Discontinued" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>
